@use '../mixins'
@use '../variables'

#socialNetworks
    @include mixins.center
    gap: 1rem
    margin: 1rem 0
    
    .socialBtn
        padding: .6rem
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        color: #333
        font-size: 1.3rem
        @include mixins.center

    :hover
        padding: .7rem
        background: variables.$gradient
        > svg
            color: variables.$text-color 
        
    #linkedin
        color: #0072B1

    #github
        color: variables.$text-color

    #instagram
        color: #BC2A8C